
:root {
    --primary:#04b4e4; /*rgb(68, 210, 250);*/
    --border-dark: #ccc;
    --main-hover: lightcyan;
    --light-gray: #eee;
    --transition_time: 0.1s;
}

html {
    height: 100%;
}

body {
    height: 100%;   
    overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
    margin: 0px;  /*removes default style*/
    display: flex;  /*enables flex content for its children*/
    box-sizing: border-box;
}

.column {
    height: 100%;  /*allows both columns to span the full height of the browser window*/
    display: flex;
    flex-direction: column;  /*places the left and right headers above the bottom content*/
    padding: 0;
}

#left {
    flex-shrink: 0;  /*makes sure that content is not cut off in a smaller browser window*/
}

.top_header {
    height: 40px;
}

/* .top-content{
    margin-left: 4px;
    padding-top: 8px;
} */

.top-left {
    flex-shink: 0;
    padding-left: 4px;
}

.top-right {
    flex-shrink: 0;
    /* flex-grow: 1; */
    /* display: inline-flex; */
}

ul {
    list-style: none;
}

.bottom {
    flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
    overflow-y: auto;  /*adds scroll to this container*/
}

.inner {
    padding: 4px;
}

/* .logo_text {
    color:white;
} */

.new-element {
    animation: fade 2s forwards;
}

@keyframes fade {
    0%   { background-color: orange; }
    100%  { background-color: auto; }
}

li {
    margin-bottom: 6px;
    margin-right: 8px;
    margin-left: 8px;
    background-color: #eee;
}

.question {
    border: 1px solid var(--border-dark);
    padding-left: 4px;
    transition: var(--transition_time);
}

.preview {
    border: 1px solid var(--border-dark);
    border-radius: 4px;
    padding: 8px;
    background-color: var(--main-hover);
}

.question:hover {
    background-color: var(--main-hover);
}

.question_tag {
    background: white;
    border: 1px solid var(--primary);
    border-radius: 2px;
    padding: 0 2px;
    margin-right: 4px;
    color: var(--primary);    
}

.icon-container {
    display:flex;
    flex-direction: row;
    align-items: center;
}

.flat-icon {
    width: 35px; 
    height: 35px;
    position: relative;
    top: -3px;
}

.primary {
    background-color: var(--primary);
}

#question-display {
    margin-top: 10px;
}

#button_bar{
    margin-right: 12px;
    margin-left: 8px;
    display: flex;
    justify-content: space-between;
}

button {
    font-weight: bold;
    background-color: white;
    border-radius: 4px;
    padding: 4px;
    transition: var(--transition_time);
}

button:hover {
    background-color: var(--primary);
    color: white;
}

.left-bottom {
    background-color: var(--light-gray);
}

.center_title{
    text-align: center;
    padding: 8px 0;
    /* background-color: var(--main-hover); */
}

.boxed {
    margin: 8px;
    padding: 8px;
    border: 1px solid var(--border-dark);
    background-color: var(--light-gray);
}

#disclaimer {
    padding-top: 16px;
}

#disclaimer p {
    margin-bottom: 30px;
}

.delete-tag {
    margin-left: 1px;
}

.delete-tag svg {
    /* border: 1px solid rgba(0,0,0,0); */
    border-radius: 50%;
    padding: 0;
    background-color: coral;
    color: white;
    cursor: default;
    transition: var(--transition_time);
}

.delete-tag:hover svg {
    background-color: red;
}

#back_to_questions{
    transition: var(--transition_time);
}

#back_to_questions:hover {
    color: var(--primary);
}

.answer_action{
    color: #ddd;
}

.answer_action:hover {
    color: #8c8;
}

.answer_mark{
    color: green;
}

.answer {
    background-color: #dfd;
}

.upvote-counter {
    padding: 2px;
}

.comment-upvote, .question_upvote {
    transition: var(--transition_time);
}

.comment-upvote:hover {
    color: orange;
}

.question-upvote:hover {
    color: orange;
}

.already-upvoted {
    color: orange;
}

::selection {
    background-color: var(--primary);
    color: white;
}


input:focus, textarea:focus {
    outline: none !important;
    border:1px solid var(--primary);
    box-shadow: 0 0 10px var(--border-dark);
}

.basic {
    cursor: default;
    display: flex;
    justify-content: space-between;
}

.author {
    color: var(--primary);
    text-shadow: 1px 1px white;
}

#user-question {
    display: inline-block;
    text-align: center;
}

#title-input {
    width:500px;
}

#content-input {
    width:500px;
}

input, textarea {
    border: 1px solid var(--border-dark);
    border-radius: 2px;
    padding: 4px;
}

#question_form_container {
    display: flex;
    justify-content: center
}

#user-question {
    background-color: var(--light-gray);
}

.large_button {
    font-size: 1.2rem;
}

.text {
    background-color: white;
    margin: 12px 0;
    /* margin-bottom: 12px; */
}

.bright {
    background-color: var(--main-hover);
}

#comment_list_container {
    margin: 16px auto;
}

.tag_link {
    transition: 0.1s;
}

.tag_link:hover {
    color: white;
    /* border-color: white; */
    background-color: var(--primary);
}